body {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.welcome-container {
  background-color: rgb(255, 130, 85);
  padding: 20px;
  text-align: center;
  color: #fff;
}

.welcome-header {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
}

.logout-button {
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}
